[SddmGreeterTheme]
Name=Genshin-Sddm-Theme
Name[ca]=Genshin-Sddm-Theme
Name[da]=Genshin-Sddm-Theme
Name[de]=Genshin-Sddm-Theme
Name[el]=Genshin-Sddm-Theme
Name[es]=Genshin-Sddm-Theme
Name[et]=Genshin-Sddm-Theme
Name[fi]=Genshin-Sddm-Theme
Name[ga]=Genshin-Sddm-Theme
Name[gl]=Genshin-Sddm-Theme
Name[hu]=Genshin-Sddm-Theme
Name[ia]=Genshin-Sddm-Theme
Name[kk]=Геншин-Сддм-Тема
Name[ko]=Genshin-Sddm-Theme
Name[nb]=Genshin-Sddm-Theme
Name[nl]=Genshin-Sddm-Theme
Name[pl]=Genshin-Sddm-Theme
Name[pt]=Genshin-Sddm-Theme
Name[pt_BR]=Genshin-Sddm-Theme
Name[ro]=Genshin-Sddm-Theme
Name[ru]=Геншин-Сддм-Тема
Name[sk]=Genshin-Sddm-Theme
Name[sl]=Genshin-Sddm-Theme
Name[sr@latin]=Genshin-Sddm-Theme
Name[sv]=Genshin-Sddm-Theme
Name[zh_CN]=Genshin-Sddm-Theme
Name[zh_TW]=Genshin-Sddm-Theme

Description=An animated genshin sddm-theme, comes with animated background implemented changing backgrounds for the time of day.
Type=sddm-theme
Author=Ibrahim Mammadli
Copyright=(c) 2023, Ibrahim Mammadli
Screenshot=/preview/image1.png
License=GPL
Version=0.2
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=genshin
Theme-API=2.0
Website=https://github.com/sddm/sddm

